@import '../../style//mixin.scss';
.home {
  
  .down-app {
    @include wh(100%, 1.6rem);
    @include flex(null, center);
    background-color: white;
    padding: 0 .32rem;
    font-size: .3733rem;
    .app-icon {
      @include img('../../images/ic_downlode_applogo_three');
      @include wh(1.6rem, 1.6rem);
      display: inline-block;
    }
    .app-desc {
      flex: 3;
      line-height: .55rem;
      color: #666;
    }
    .app-btn {
      flex: 1;
      text-align: center;
      background-color: #07f;
      border-radius: .08rem;
      color: white;
      padding: .25rem .5rem;
    }
  }

  .banner{
    @include wh(100%, 5rem);
  }

  .search {
    @include wh(94%, auto);
    @include flex(null, center);
    position: absolute;
    top: 1.6rem;
    margin: .1333rem .32rem;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 0 0.12rem 0;
    .city {
      @include flex(center,center);
      padding: 0.182rem .232rem;
      .icon-down {
        @include img("../../images/ic_chevron_down_three_six_one");
        @include wh(.2rem, .13333rem);
      }
      .name {
        font-size: .4rem; 
        margin-right: .15rem;
        color: black;
      }
    }
    .search-input {
      border-left: 1px solid #b4b4b4;
      padding-left: .3rem;
      @include flex(center,center);
      .icon-search {
        @include img("../../images/ic_search_normal_three_two");
        @include wh(.48rem, .48rem);
      }
      .input {
        font-size: .37333rem;
        color: #b4b4b4;
        margin-left: .2rem;
      }
    }
  }

  .navigation {
    @include flex(space-between, center);
    flex-wrap: wrap;
    text-align: center;
    font-size: .32rem;
    background-color: white;
    padding-top: .5333rem;
    color: #666;
  }

  .guide {
    @include flex(space-between);
    text-align: center;
    padding: 0 .32rem;
    font-size: .3733rem;
    color: #282a2a;
    font-weight: bold;
    background-color: white;
    .guide-item {
      @include wh(auto, 1.7333rem);
      @include flex(center, center, column);
      flex: 33.3%;
      box-shadow: 0 0 6px 0 hsla(0,0%,60%,.3);
      border-radius: 1px;
      .demand {
        @include img('../../images/ic_demand_threesieone');
        @include wh(.8533rem, .8533rem);
        margin: 0 auto;
      }
      .quick {
        @include img('../../images/ic_book_three_six_one');
        @include wh(.8533rem, .8533rem);
        margin: 0 auto;
      }
      .activity {
        @include img('../../images/ic_ad_three_six_one');
        @include wh(.8533rem, .8533rem);
        margin: 0 auto;
      }
      > p {
        margin-top: .1067rem;
      }
    }
  }

  .marquee {
    background-color: white;
    padding: 0 .37333rem;
    .marquee-content {
      @include flex(null, center);
      padding: .53333rem 0;
      border-bottom: 1px solid #eee;
      .dynamic {
        @include img('../../images/ic_linhuidongtai_three_three');
        @include wh(2.5996rem, .48rem);
        display: inline-block;
        margin-right: .2rem;
      }
      .marquee-item {
        font-size: .37333rem;
        border-left: 1px solid #dcdcdc;
        padding-left: .2rem;
      }
    }
  }









}