
@mixin img($url) {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center center;
  background-image: url($url + "@2x.png");
  @media (-webkit-min-device-pixel-ratio: 3),(min-device-pixel-ratio: 3) {
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center center;
    background-image: url($url + "@3x.png");
  }
}

@mixin wh($w, $h, $import: null) {
  @if $import == null {
    width: $w;
    height: $h;
  }
  @if $import == true {
    width: $w !important;
    height: $h !important;
  }
}

@mixin flex($x:center, $y:center, $c:'') {
  display: flex;
  @if $x != null { justify-content: $x; }
  @if $y != null { align-items: $y; }
  @if $c == column { flex-flow: column; }

}