
@mixin bg-image($url) {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center center;
  background-image: url($url + "@2x.png");
  @media (-webkit-min-device-pixel-ratio: 3),(min-device-pixel-ratio: 3) {
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center center;
    background-image: url($url + "@3x.png");
  }
}

@mixin wh($w, $h) {
  width: $w;
  height: $h;
}